<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.yhd.dao.IllegalSelfieMapper" >
  <resultMap id="BaseResultMap" type="cn.yhd.entity.IllegalSelfie" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="url_encode" property="urlEncode" jdbcType="VARCHAR" />
    <result column="remake" property="remake" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="post_id" property="postId" jdbcType="BIGINT" />
    <result column="admin_id" property="adminId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, url, url_encode, remake, user_id, post_id, admin_id, create_time
  </sql>
  <select id="selectByCondition" resultMap="BaseResultMap" parameterType="cn.yhd.entity.IllegalSelfie" >
    select
    <include refid="Base_Column_List" />
    from illegal_selfie
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from illegal_selfie
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="delete" parameterType="java.lang.Long" >
    delete from illegal_selfie
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="cn.yhd.entity.IllegalSelfie" >
    <!--
      WARNING - @mbggenerated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into illegal_selfie (id, url, url_encode, 
      remake, user_id, post_id, 
      admin_id, create_time)
    values (#{id,jdbcType=BIGINT}, #{url,jdbcType=VARCHAR}, #{urlEncode,jdbcType=VARCHAR}, 
      #{remake,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT}, #{postId,jdbcType=BIGINT}, 
      #{adminId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="update" parameterType="cn.yhd.entity.IllegalSelfie" >
    update illegal_selfie
    <set >
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="urlEncode != null" >
        url_encode = #{urlEncode,jdbcType=VARCHAR},
      </if>
      <if test="remake != null" >
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="postId != null" >
        post_id = #{postId,jdbcType=BIGINT},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>