<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.yhd.dao.UserMapper">
    <select id="getUser" parameterType="String" resultType="cn.yhd.bean.User">
        select * from demo_user WHERE username = #{username}
    </select>
    <select id="deleteUser" parameterType="String">
        DELETE from demo_user WHERE username = #{username}
    </select>
    <select id="getAllUser" resultType="cn.yhd.bean.User">
        select * from demo_user
    </select>
    <select id="getLikeUser" parameterType="String" resultType="cn.yhd.bean.User">
        select * from demo_user WHERE username like CONCAT('%',#{username},'%')
    </select>
    <select id="addUser" parameterType="cn.yhd.bean.User">
        INSERT INTO demo_user (username,password) VALUES (#{username},#{password})
    </select>
</mapper>