<html xmlns:th="http://www.thymeleaf.org">
<div th:each="user : ${list_friend}" class="panel-body">
    <div class="panel-delete-friend">
        <div class="delete-friend" style="float: left" th:text="${user.friendname}"></div>
        <div class="delete-f-button" style="float: right">
            <button type="button" class="btn btn-danger delete">删除</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".delete").click(function () {
            var inputVal = $(this).parent().parent().find('div[class*=delete-friend]').html();
            $.post("/delete/friend",
                {
                    fname: inputVal
                },
                function (data, status) {
                    alert("已删除");
                    window.location.href = "/friend";
                });
        });
    });
</script>
</html>