<html xmlns:th="http://www.thymeleaf.org">
<div th:each="user : ${list_user}" class="panel-body">
    <div class="panel-add-friend">
        <div class="add-friend" style="float: left" th:text="${user.username}"></div>
        <div class="add-f-button" style="float: right">
            <button type="button" class="btn btn-danger add">添加</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $(".add").click(function () {
            var inputVal = $(this).parent().parent().find('div[class*=add-friend]').html();
            $.post("/add/friend",
                {
                    fname: inputVal
                },
                function (data, status) {
                    if(data=='error')alert('你已发送过请求');
                    else alert('请求已发送');
                });
        });
    });
</script>
</html>